<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDK6jwHTCPuF9r_MRyjGbM-E7J7A929g9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>32764700037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ashraf.abo.hamda.pyramids</string>
	<key>PROJECT_ID</key>
	<string>pyramids-89577</string>
	<key>STORAGE_BUCKET</key>
	<string>pyramids-89577.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32764700037:ios:32c16a10c9a3d817f990ec</string>
</dict>
</plist>